<?xml version="1.0" encoding="utf-8"?>
<module>
    <assemblies>
        <add assembly="Verndale.Publish" />
    </assemblies>
    <clientResources>
      <!--<add name="epi-cms.widgets.base" path="ClientResources/Scripts/initializer.js" resourceType="Script"/>-->
    </clientResources>
    <dojo>
        <paths>
            <add name="publish" path="ClientResources/Scripts" />
        </paths>
    </dojo>
    <clientModule initializer="publish/initializer">
      <moduleDependencies>
        <add dependency="Shell" />
        <add dependency="CMS" type="RunAfter" />
      </moduleDependencies>
    </clientModule>
</module>